{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "grafana/**/*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
